<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CardWidth" value="5800" />
    <add key="CardHeight" value="8900" />
    <add key="MarkC" value="C.png" />
    <add key="MarkD" value="D.png" />
    <add key="MarkH" value="H.png" />
    <add key="MarkS" value="S.png" />
  </appSettings>
</configuration>