<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CardWidth" value="5800" />
    <add key="CardHeight" value="8900" />
    <add key="SuitViewNameNone" value="" />
    <add key="SuitViewNameClub" value="♣クラブ" />
    <add key="SuitViewNameDiamond" value="♦ダイヤ" />
    <add key="SuitViewNameHeart" value="♥ハート" />
    <add key="SuitViewNameSpade" value="♠スペード" />
    <add key="SuitViewNameJoker" value="★ジョーカー" />
    <add key="SuitFileNameClub" value="C.png" />
    <add key="SuitFileNameDiamond" value="D.png" />
    <add key="SuitFileNameHeart" value="H.png" />
    <add key="SuitFileNameSpade" value="S.png" />
    <add key="RankNameNone" value="" />
    <add key="RankNameAce" value="A" />
    <add key="RankNameR2" value="2" />
    <add key="RankNameR3" value="3" />
    <add key="RankNameR4" value="4" />
    <add key="RankNameR5" value="5" />
    <add key="RankNameR6" value="6" />
    <add key="RankNameR7" value="7" />
    <add key="RankNameR8" value="8" />
    <add key="RankNameR9" value="9" />
    <add key="RankNameR10" value="10" />
    <add key="RankNameJack" value="J" />
    <add key="RankNameQueen" value="Q" />
    <add key="RankNameKing" value="K" />
    <add key="RankNameJoker" value="Joker" />
  </appSettings>
</configuration>